node_modules/
**/node_modules/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
.env
.env.*
client/dist/
server/dist/
.cache/
.tmp/
*.tmp
*.log
server/prisma/*.db-journal
server/prisma/dev.db
client/.vite/
.vscode/
!.env.example
client/!.env.example
server/!.env.example